.page-search
{
	.search-form
	{
		h1
		{
			font-weight: 400;
		}
		.search-field
		{
			font-size: inherit;
			font-family: inherit;
			font-weight: 700;
			border: none;
			border-bottom: 1px solid #0008;

			&:focus
			{
				outline: none;
				background: #fff;
			}
		}
	}

	.search-results
	{
		.search-empty
		{
			font-size: 2rem;
			opacity: 0.25;
			font-weight: 700;
		}
	}
}