@use '../variables' as var;

header
{
	--header-top-height: 92px;
	--header-height: 64px;

	z-index: 100;
	height: var(--header-height);
	background: var.$primary-color;
	transition: height 0.5s;

	.header-contents
	{
		background: var.$primary-color;
		color: #fff;
		padding: 0 1rem;
		height: var(--header-top-height);
		position: fixed;
		top: var(--wp-admin--admin-bar--height, 0px);
		left: 0;
		right: 0;
		transition: height 0.5s;

		.scrollNotOnTop &
		{
			height: var(--header-height);
		}
	}

	.section
	{
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		height: 100%;
	}

	.header-logo
	{
		align-self: center;

		img
		{
			max-height: 50px;
			width: auto;
			vertical-align: top;
		}
	}

	.header-elements
	{
		display: flex;
	}

	nav
	{
		display: flex;

		ul
		{
			display: flex;
			list-style-type: none;
			gap: 0 1rem;
			padding: 0;
			margin: 0;
		}
		li
		{
			position: relative;
			display: flex;
			align-items: center;
		}
		a
		{
			text-decoration: none;
			color: inherit;
		}

		ul ul
		{
			flex-flow: column;
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 100%;
			display: none;
			background: var.$primary-color2;

			li
			{
				border-bottom: 1px solid #fff2;

				&:last-child
				{
					border-bottom: none;
				}
			}

			a
			{
				padding: 0 1rem;
			}
		}

		ul ul ul
		{
			top: 0;
			left: 100%;
			min-width: 15rem;
			
			background: var.$primary-color2;
			background-image: linear-gradient(#fff2, #fff2);
		}

		li:hover > ul
		{
			display: flex;
		}
	}

	.search-box
	{
		position: relative;
		display: flex;
  		align-items: center;

		.menu-item
		{
			padding: 1rem;
			background: transparent;
			border: none;
		}

		.search-form-box
		{
			position: absolute;
			top: 100%;
			right: 0;
			white-space: nowrap;
			padding: 4px 8px;
			background: var.$primary-color2;
			display: none;
		}

		// &:hover .search-form-box,
		&:focus-within .search-form-box
		{
			display: block;
		}
	}
}
